body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f2fe;
  color: #000000;
}

/* Top menu */
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 50px; /* Espaçamento da borda esquerda */
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* Vertical menu (now on the left) */
.vertical-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: -1;
}

.vertical-menu.open {
  transform: translateX(0);
}

.vertical-menu ul {
  list-style: none;
  padding-top: 70px;
  margin: 0;
}

.vertical-menu ul li {
  margin: 15px 0;
}

.vertical-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;
  transition: transform 0.3s ease;
}

.hamburger div {
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.open div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
