body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Top menu */
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Adicionado para aplicar z-index */
  z-index: 1100; /* Primeiro plano */
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
  /* Espaçamento da borda esquerda */
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.logo span {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.material-icons {
  margin-right: 50px;
  margin-left: 10px;
}
/* Vertical menu (now on the left) */
.vertical-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: linear-gradient(to right, #353470 28%,#3d3d85 0%);
  box-shadow: 2px 0 4px rgba(255, 255, 255, 0.1);
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 1000; /* Segundo plano */
}

.vertical-menu.open {
  transform: translateX(0);
}

.vertical-menu ul {
  list-style: none;
  padding-top: 70px;
  margin: 0;
  padding-left: 1px;
  
}

.vertical-menu ul li {
  margin: 15px 0;
  
}

.vertical-menu ul li a {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 14px;
  display: block;
  padding: 10px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

.vertical-menu ul li a:hover {
  background-color:#4d4d9c;
  color: #24d3fe;
  
}

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;
  transition: transform 0.9s ease;
}

.hamburger div {
  height: 3px;
  background-color: #353470;
  border-radius: 1px;
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.hamburger.active {
  background-color: rgba(36, 211, 254, 0.1);
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.9s ease;
}

.hamburger:active div {
  transform: scale(1.2);
}

/* From Uiverse.io by SteveBloX */
.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}
.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  position: relative; /* Adicionado para aplicar z-index */
  z-index: 900; /* Terceiro plano */
}
.card {
  width: 200px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.card-body {
  padding: 10px;
  text-align: center;
}

.welcome {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #393939;  
}